:root {
    --clr--accent--900: #9d5c6b;
    --clr--accent--700: #a66a77;
    --clr--black: #101010;
    --clr--white: #efefef;
    color: var(--clr--black);
}

* {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

/* HEADER STYLES */
.header {
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid var(--clr--accent--900);
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.header__nav p {
    font-weight: 500;
    color: var(--clr--black);
    font-size: 1.5rem;
}

.header__navbar {
    display: flex;
    gap: 40px;
    color: var(--clr--accent--900);
    font-weight: 500;
}

.header__navbar a:hover {
    color: var(--clr--accent--700);
}

.header h1 {
    font-size: 2.5rem;
    margin: 40px 20px;
    color: var(--clr--accent--900);
}

/* PROJECTS STYLES */
.projects {
    display: flex;
    padding: 0 60px;
    border-bottom: 2px solid var(--clr--accent--900);
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

.projects h2 {
    color: var(--clr--accent--900);
    margin-top: 40px;
    margin-bottom: 12px;
}

.projects > ul {
    margin-bottom: 40px;
}

.projects ul {
    display: flex;
    flex-direction: column;
}

.projects ul li {
    transition: 0.4s;
    padding: 12px;
    cursor: pointer;
}

.projects ul li:hover {
    background-color: var(--clr--accent--900);
    color: var(--clr--white);
}

@media  (max-width: 700px) {
    .header {
        text-align: center;
    }

    .header__nav {
        flex-direction: column;
        gap: 40px;
    }

}

@media (max-width: 400px) {
    .header__navbar {
        flex-direction: column;
    }

    .header {
        padding: 40px 20px;
    }
}

/* FOOTER STYLES*/
footer {
    padding: 40px 60px;
    display: flex;
    justify-content: center;
}